.task-actions {
    display: flex;
    align-items: center;
}

.task-actions button {
    margin-left: 10px;
    background-color: #e82c97; /* Classic orange */
}

.task-actions button:hover {
    background-color: #e8972c; /* Darker orange */
}

.task-actions input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}
